<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.oblomov.lucyServer</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/martijn/git/Cercando/scripts/startLucyServer.sh</string>
    </array>
    <key>KeepAlive</key>
    <dict>
        <key>PathState</key>
        <dict>
            <key>/mnt/LucySynology/web</key>
            <true/>
        </dict>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/martijn/lucyLogs/lucyServer.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/martijn/lucyLogs/lucyServer.log</string>
    <key>UserName</key>
    <string>martijn</string>
</dict>
</plist>
<!-- For installation, create a root copy of this file in /Library/LaunchDaemons/ with:
sudo cp /Users/martijn/git/Cercando/scripts/com.oblomov.lucyServer.plist /Library/LaunchDaemons/
sudo launchctl load /Library/LaunchDaemons/com.oblomov.lucyServer.plist
-->
