svg { /* IE compatibility */
	overflow: hidden;
}


table {
  font: inherit; color: inherit; /* for some weird reason tables don't inherit font and color by default */
  border-spacing:0;
  border-collapse: collapse;
}
table td, table th {
  padding: 0;
}


body {
  margin: 0px;
  font-family: arial;
  background: url('../img/background_linen.png') repeat scroll center top transparent;
  color: white;
}

#main {
  text-align: center;
  margin-top: 15px;
}

#control-panel {
	text-align: left;
  display: inline-block;
  vertical-align: top;
}

.selector {
  vertical-align:middle;
	}
.select-button {
  display: inline-block;
  padding: 5px;
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align:middle;
}
.select-button[selected] {
  background-color: white;
  color: blue;
  border: solid black 1px;
}
.select-button:not([selected]) {
  background-color: blue;
  border: solid white 1px;
}

#wrap {
  display: inline-block;
  vertical-align: top;
}

#floor {
}
#floor-background-rect {
  fill: #392b8c;
  stroke: #000;
}

#floor #event-source-label { /* need #floor to make this rule more specific than #floor text */
  font-size: 20px;
  fill: red;
  text-anchor: end;
}

#floor text {
	stroke-width: 0px;
	font-family: Verdana;
  font-size: 10px;
  fill: white;
}

.tag-marker {
	stroke: black; /* Set stroke on marker instead of circle, for easy override */
}
.tag-marker text {
	text-anchor: middle;
}

.antenna-marker text {
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

.antenna-shape {
	stroke: white;
}
.short-range .antenna-shape {
  fill: darkred;
}
.mid-range .antenna-shape {
	fill: darkgreen;
}
.long-range .antenna-shape {
  fill: blue;
}

.tag-zone {
  stroke: none;
  fill-opacity: 0.4;  
	fill: transparent; /* overridden with style attr to show strongest antenna range for each tag */
}

.antenna-max-range {
  stroke: black;
  stroke-opacity: 0.3;
}
.antenna-max-range.short-range {
  fill: purple;
  fill-opacity: 0.3;
}
.antenna-max-range.mid-range {
  fill: green;
  fill-opacity: 0.3;
}
.antenna-max-range.long-range {
  fill: red;
  fill-opacity: 0.3;
}
.antenna-label {
}

table#tags-data {
  table-layout: auto;
  margin-top: 20px;
  border: solid 1px grey;
}

tr.table-row {
  color: white;
}
td.tag-label {
  text-align: right;
  padding-right: 10px;
  border: solid 1px grey;
  width: 100px;
}

td.ant-rssi {
  min-width:75px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 80%;
  border: solid 1px grey;
}

.dist-label {
  float:left;
}
.rssi-label {
  float:right;
}

#copyright {
  float: right;
  padding-top: 2px; 
  padding-right: 2px;
  font-size: 13px;
  color: #eee;
}
#copyright * {
  text-decoration: none;
  color: #ddd;
}
