@import url("common.css");

#unknown-antennas {
	padding-left: 10px;
	font-size: 80%;
}

#unknown-antenna {
  color: red;
}

#start-replay-button {
  float: left;
  margin-top: 5px;
  margin-right: 10px; 
}

#stop-replay-button {
  float: left;
  margin-top: 5px;
  margin-right: 10px; 
}

.replay-level-selector {
	float: left;
  margin-top: 6px;
}

#replay-filename-label {
	float: left;
	clear: left;
}

#short-mid-range-server-status span {
	margin-right: 5px;
}