body {
  margin: 0px;
  font-family: arial;
  background: url('../img/background_linen.png') repeat scroll center top transparent;
  color: white;
}
#main {
  text-align: center;
  margin-top: 15px;
}
#control-panel {
	text-align: left;
  display: inline-block;
  vertical-align: top;
}
#wrap {
  display: inline-block;
  vertical-align: top;
}
#floor {
}
#floor-background {
  fill: #392b8c;
  stroke: #000;
}
#tags-data {
	display: inline-block;
	margin-top: 20px;
}

.tag-rssis {
  color: white;
  float: left;
}
.tag-label {
	text-align: right;
	margin-right: 10px;
	float: left;
	width: 100px;
}
.ant-rssi {
  float: left;
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
}
.dist-label {
  float:left;
}
.rssi-label {
	color: #bbb;
	float:right;
}

#copyright {
  float: right;
  padding-top: 2px; 
  padding-right: 2px;
  font-size: 13px;
  color: #eee;
}
#copyright * {
  text-decoration: none;
  color: #ddd;
}

/* IE compatibility */
svg { overflow: hidden; }


